<div class="d-flex flex-row justify-content-around flex-wrap">
  <%= flash[:error] %>
  <% @links.each do |link| %>
    <div class="card text-center">
      <h3><%= link_to link.title, link_path(link) %></h3>
      <p><a href="<%= link.url %>"><%= link.url %></a> <%= image_tag "open_link_icon.png", class:"icon" %></p>
      <% link.tags.each do |tag| %>
      <div class="tag"><span class="tag-bg"> <%= tag.title %> </span> </div>
        <% end %>
      <%= link_to 'Edit', edit_link_path(link) %>
      <%= link_to 'Delete', link_path(link), method: :delete , data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>
</div>
