<div class="d-flex flex-row justify-content-around flex-wrap">
  <div class="card text-center">
    <h3> <%= @link.title %></h3>
    <p> <%= @link.url %> </p>
    <img src='<%=@link.image_path %>'/>
    <% @link.tags.each do |tag| %>
      <div class="tag"><span class="tag-bg"> <%= tag.title %> </span> </div>
    <% end %>
<%= link_to "Show All Links", links_path %>
</div>
